@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url("asciidoctor.css");

html{font-family: 'Nanum Gothic', serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}

body{background:#fff;color:rgba(0,0,0,.8);padding:0;margin:0;font-family: 'Nanum Gothic', serif;;font-weight:400;font-style:normal;line-height:1;position:relative;cursor:auto}

h1,h2,h3,#toctitle,.sidebarblock>.content>.title,h4,h5,h6{font-family:"Open Sans","DejaVu Sans",sans-serif;font-weight:300;font-style:normal;color:#000;text-rendering:optimizeLegibility;margin-top:1em;margin-bottom:.5em;line-height:1.0125em}
